---
import LucideChevronLeft from 'icons:astro/lucide/chevron-left'

import Layout from '@/layouts/Layout.astro'
import { getCompany } from '@/data/companies'
import Company from '@/components/company/Company.astro'
import OtherCompanies from '@/components/company/OtherCompanies.svelte'
import { buttonVariants } from '@/components/ui/button'
import Toast from '@/components/ToastNotification.svelte';

const { id = '' } = Astro.params

// Assume the wikidataId to be in the final part of the URL
const wikidataId = id.split('-').at(-1) ?? ''

let showToast = false
let toastMessage = ''
let company = null

// if the wikidataId is a valid wikidataId, fetch the company
if (wikidataId.startsWith('Q')) {
  try {
    company = await getCompany(wikidataId);
  } catch (error) {
    // if error is thrown, we should redirect to company list page but we need to migrate that to beta before we can set up the redirect
    console.error('Redirecting due to company not found:', error);
    showToast = true;
    toastMessage =
      'Vi hittade inget företag med den länken, men testa gärna att söka här nedanför!';
  }
} else {
  console.error('Redirecting due to invalid wikidataId:', wikidataId);
  showToast = true;
  toastMessage = 'Vi hittade inget företag med den länken';
}

const baseTitle = 'Klimatkollen - få koll på företagens utsläpp'

const title = `${company?.name ? `${company.name} | ` : ''}${baseTitle}`
---

<Layout {title}>
  {
    company ? (
      <Company {company} />
    ) : (
      <div class="mx-auto flex max-w-screen-md flex-col items-start p-4">
        {/* show toast if company not found */}
        <Toast message={toastMessage} show={showToast} client:load /> 
        <div class="grid w-full place-items-center">
          <OtherCompanies client:load />

          <a
            class={buttonVariants({
              variant: 'default',
              class: 'mt-8 gap-1 pl-2',
            })}
            href="https://klimatkollen.se/foretag/utslappen/lista"
          >
            <LucideChevronLeft class="h-5 w-5" />
            Tillbaka till alla företag
          </a>
        </div>
      </div>
    )
  }
</Layout>
