---
import LucideChevronLeft from 'icons:astro/lucide/chevron-left'

import Layout from '@/layouts/Layout.astro'
import { type CompanyData, getCompanyURL } from '@/data/companyData'
import Company from '@/components/company/Company.astro'
import OtherCompanies from '@/components/company/OtherCompanies.svelte'
import { buttonVariants } from '@/components/ui/button'

const { id = '' } = Astro.params

const wikidataId = id.split('-').at(-1) ?? ''

/**
 * Conditionally load cached local JSON file instead of fetching from the API
 */
async function getCompanies() {
  let data: CompanyData[]

  if (process.env.NODE_ENV === 'production') {
    data = await fetch('https://api.klimatkollen.se/api/companies').then(
      (res) => res.json(),
    )
  } else {
    // prettier-ignore
    // @ts-ignore Don't care about this TS error
    data = (await import('@/data/test.json')).default as CompanyData[]
  }

  return data

  // TODO: Move filtering to the backend.
  // return (
  //   data
  //     .filter(isCompany)
  //     // HACK: Keep unique companies. This should ideally be solved with filtering on the API side.
  //     .filter(
  //       (c, i, array) =>
  //         i === array.findLastIndex((company) => c.url === company.url),
  //     ) as CompanyData[]
  // )
}

async function getCompany(wikidataId: string) {
  let data: CompanyData[]

  if (process.env.NODE_ENV === 'production') {
    data = await fetch(
      `https://api.klimatkollen.se/api/companies/${wikidataId}`,
    ).then((res) => res.json())
  } else {
    // prettier-ignore
    // @ts-ignore Don't care about this TS error
    data = (await import('@/data/test.json')).default as CompanyData[]
  }
}

const companies = await getCompanies()

const company = companies.find(
  (company) => company.wikidataId.toLowerCase() === wikidataId.toLowerCase(),
)
---

<Layout title="Klimatkollen - få koll på företagens utsläpp">
  {
    company ? (
      <Company {company} {companies} />
    ) : (
      <div class="mx-auto flex max-w-screen-md flex-col items-start p-4">
        <p class="py-4">
          Vi hittade inget företag med den länken, men testa gärna att söka här
          nedanför!
        </p>

        <div class="grid w-full place-items-center">
          <OtherCompanies client:load {companies} />

          <a
            class={buttonVariants({
              variant: 'default',
              class: 'mt-8 gap-1 pl-2',
            })}
            href="https://klimatkollen.se/foretag/utslappen/lista"
          >
            <LucideChevronLeft class="h-5 w-5" />
            Tillbaka till alla företag
          </a>
        </div>
      </div>
    )
  }

  {
    process.env.NODE_ENV === 'development' ? (
      <div class="mt-16 flex flex-wrap gap-2 text-nowrap px-8">
        {companies.map((c) => (
          <a href={getCompanyURL(c)} class="underline">
            {c.companyName}
          </a>
        ))}
      </div>
    ) : null
  }
</Layout>
