---
import type { CompanyData } from '@/data/companyData'
import { Card } from '../ui/card'
import CompanyFactSection from './CompanyFactSection.astro'

interface Props {
  company: CompanyData
  year: number
}

const { company, year } = Astro.props

function getMonthName(month: number) {
  const date = new Date()
  date.setMonth(month === 0 ? 12 : month - 1)

  return date.toLocaleString('sv-SE', { month: 'long' })
}
---

<div class="grid gap-4 sm:grid-cols-2">
  {
    company.industryNace.division.name && (
      <CompanyFactSection
        title="Industri"
        data={company.industryNace.division.name}
        class="col-span-full flex flex-wrap justify-between gap-4 px-4"
      />
    )
  }

  <Card class="flex flex-col gap-4" level={2}>
    {
      company.baseFacts[year]?.turnover && (
        <CompanyFactSection
          title={'Oms채ttning ' + year}
          data={
            company.baseFacts[year].turnover.toLocaleString('sv-SE') +
            ' ' +
            company.baseFacts[year].unit
          }
        />
      )
    }
    {
      company.baseFacts[year]?.employees && (
        <CompanyFactSection
          title="Anst채llda 2023"
          data={company.baseFacts[year].employees.toLocaleString('sv-SE')}
        />
      )
    }

    {
      company.fiscalYear && (
        <CompanyFactSection
          title="R채kenskaps책r"
          data={`${getMonthName(company.fiscalYear.startMonth)} - ${getMonthName(company.fiscalYear.endMonth)}`}
        />
      )
    }
  </Card>

  <Card level={2}>
    {
      company.contacts.length ? (
        <div class="col-span-2">
          <h3 class="text-lg font-semibold">Kontakt</h3>
          <ul class="list-disc pl-5">
            {company.contacts.map(({ name, email }) => (
              <li class="text-sm text-muted">
                {name} - {email}
              </li>
            ))}
          </ul>
        </div>
      ) : null
    }
  </Card>
</div>
