---
import { getCompanyName, type CompanyData } from '@/data/companyData'
import { Card, CardContent } from '../ui/card'
import Scope3Emissions from './Scope3Emissions.astro'
import CompanyFacts from './CompanyFacts.astro'

interface Props {
  company: CompanyData
  year: number
}

const { company, year } = Astro.props

const emissions = company.emissions[year]
const totalEmissions = emissions
  ? (emissions.scope1.emissions || 0) +
    (emissions.scope2.emissions ||
      emissions.scope2.mb ||
      emissions.scope2.lb ||
      0) +
    (emissions.scope3.emissions || 0)
  : 0

const totalBiogenicEmissions = emissions
  ? (emissions.scope1.biogenic || 0) +
    (emissions.scope2.biogenic || 0) +
    (emissions.scope3.biogenic || 0)
  : 0

const scopeEmissionsList = emissions
  ? [
      {
        subtitle: 'Egna utsläpp (scope 1)',
        description:
          'Utsläpp från egna källor eller kontrollerade av organisationen.',
        value: emissions.scope1.emissions,
      },
      {
        subtitle: 'Indirekta (scope 2)',
        description:
          'Indirekta utsläpp från produktion av köpt el, ånga, värme och kyla som konsumeras av organisationen.',
        value: emissions.scope2.emissions,
      },
      {
        subtitle: 'Värdekedjan (scope 3)',
        description: 'Indirekta utsläpp från organisationens värdekedja.',
        value: emissions.scope3.emissions,
      },
      {
        subtitle: 'Biogena utsläpp',
        description: '',
        value: totalBiogenicEmissions.toLocaleString('sv-SE'),
      },
    ]
  : []
---

<Card class="p-4 text-sm" level={1}>
  <h1
    class="text-balance pb-4 pt-4 text-4xl leading-none tracking-tight md:pt-0 lg:text-5xl"
  >
    {getCompanyName(company)}
  </h1>
  <p class="pb-4 text-muted">{company.description}</p>
  <p class="text-muted">
    Läs
    <a href={company.url} class="text-sm text-blue-500 underline">
      hållbarhetsrapport
    </a>
  </p>
  <CompanyFacts {company} {year} />
</Card>

<Card level={1}>
  <CardContent class="grid gap-6">
    <div class="flex items-center justify-between">
      <div class="text-2xl">Totala utsläpp {year} (ton CO₂e)</div>
      <span class="rounded-full bg-gray-800 px-4 py-2 font-bold sm:text-xl">
        {totalEmissions.toLocaleString('sv-SE')}
      </span>
    </div>
    {
      scopeEmissionsList.length ? (
        <div class="grid gap-4">
          {scopeEmissionsList.map((emission) =>
            emission.value ? (
              <div class="flex items-center justify-between">
                <div>
                  <h4 class="font-medium">{emission.subtitle}</h4>
                  {emission.description && (
                    <p class="text-sm text-muted">{emission.description}</p>
                  )}
                </div>
                <span class="rounded-full bg-gray-800 px-4 py-2 font-bold md:text-xl">
                  {emission.value.toLocaleString('sv-SE')}
                </span>
              </div>
            ) : null,
          )}
        </div>
      ) : null
    }
    <Scope3Emissions emissions={emissions.scope3.categories} />
  </CardContent>
</Card>
