---
import { getCompanyName, type CompanyData } from '@/data/companyData'
import { Card } from '../ui/card'
import Scope3Emissions from './Scope3Emissions.astro'
import CompanyFacts from './CompanyFacts.astro'
import { cn } from '@/lib/utils'

interface Props {
  company: CompanyData
  year: number
}

const { company, year } = Astro.props

const emissions = company.emissions[year]
const totalEmissions = emissions
  ? (emissions.scope1.emissions || 0) +
    (emissions.scope2.emissions ||
      emissions.scope2.mb ||
      emissions.scope2.lb ||
      0) +
    (emissions.scope3.emissions || 0)
  : 0

const totalBiogenicEmissions = emissions
  ? (emissions.scope1.biogenic || 0) +
    (emissions.scope2.biogenic || 0) +
    (emissions.scope3.biogenic || 0)
  : 0

const scopeEmissionsList = emissions
  ? [
      {
        subtitle: 'Totala utsläpp',
        description: '',
        value: totalEmissions,
        verified: emissions.scope2.verified,
      },
      {
        subtitle: 'Egna utsläpp (scope 1)',
        description:
          'Utsläpp från egna källor eller kontrollerade av organisationen.',
        value: emissions.scope1.emissions,
        verified: emissions.scope2.verified,
      },
      {
        subtitle: 'Indirekta (scope 2)',
        description:
          'Indirekta utsläpp från produktion av köpt el, ånga, värme och kyla som konsumeras av organisationen.',
        value: emissions.scope2.emissions,
        verified: emissions.scope2.verified,
      },
      {
        subtitle: 'Värdekedjan (scope 3)',
        description: 'Indirekta utsläpp från organisationens värdekedja.',
        value: emissions.scope3.emissions,
        verified: emissions.scope2.verified,
      },
      {
        subtitle: 'Biogena utsläpp',
        description: '',
        value: totalBiogenicEmissions,
        verified: emissions.scope2.verified,
      },
    ]
  : []
---

<Card class="p-4 text-sm" level={1}>
  <h1
    class="text-balance pb-4 text-4xl leading-none tracking-tight lg:text-5xl"
  >
    {getCompanyName(company)}
  </h1>
  <p class="pb-4 text-muted">{company.description}</p>
  <p class="text-muted">
    Läs
    <a href={company.url} class="text-sm text-blue-500 underline">
      hållbarhetsrapport
    </a>
  </p>
  <CompanyFacts {company} {year} />
</Card>

<Card class="grid gap-4" level={1}>
  <h2
    class="flex items-center justify-between pb-4 text-3xl leading-none tracking-tight"
  >
    Utsläpp 2023 <span class="text-base text-muted xs:text-xl">(ton CO₂e)</span>
  </h2>
  {
    scopeEmissionsList.length ? (
      <div class="grid gap-4">
        {scopeEmissionsList.map((emission) =>
          emission.value ? (
            <div class="flex items-center justify-between">
              <div>
                <h4 class="font-medium">{emission.subtitle}</h4>
                {emission.description && (
                  <p class="text-sm text-muted">{emission.description}</p>
                )}
              </div>
              <span
                class={cn(
                  'rounded-full px-4 py-2 font-bold md:text-xl',
                  emission.verified
                    ? 'bg-blue-250 text-blue-950'
                    : 'bg-gray-800',
                )}
              >
                {emission.value.toLocaleString('sv-SE')}
              </span>
            </div>
          ) : null,
        )}
      </div>
    ) : null
  }
  <Scope3Emissions emissions={emissions.scope3.categories} />
</Card>
