---
import { getCompanyName, type CompanyData } from '@/data/companyData'
import { Card, CardContent, CardHeader } from '../ui/card'
import ScopeEmissions from './ScopeEmissions.astro'
import DataCard from '../DataCard.astro'
import Scope3Emissions from './Scope3Emissions.astro'
import CompanyFacts from './CompanyFacts.astro'

interface Props {
  company: CompanyData
  year: number
}

const { company, year } = Astro.props

const emissions = company.emissions[year]
const totalEmissions = emissions
  ? (emissions.scope1.emissions || 0) +
    (emissions.scope2.emissions ||
      emissions.scope2.mb ||
      emissions.scope2.lb ||
      0) +
    (emissions.scope3.emissions || 0)
  : 0

const totalBiogenicEmissions = emissions
  ? (emissions.scope1.biogenic || 0) +
    (emissions.scope2.biogenic || 0) +
    (emissions.scope3.biogenic || 0)
  : 0

const scopeEmissionsList = emissions
  ? [
      {
        subtitle: 'Scope 1 utsläpp',
        description:
          'Utsläpp från egna källor eller kontrollerade av organisationen.',
        value: emissions.scope1.emissions,
      },
      {
        subtitle: 'Scope 2 utsläpp',
        description:
          'Indirekta utsläpp från produktion av köpt el, ånga, värme och kyla som konsumeras av organisationen.',
        value: emissions.scope2.emissions,
      },
    ]
  : []
---

<Card level={1}>
  <CardHeader class="p-4 text-sm">
    <h1
      class="text-balance pb-4 text-4xl leading-none tracking-tight lg:text-5xl"
    >
      {getCompanyName(company)}
    </h1>
    <p class="text-muted">{company.description}</p>
    <p class="text-muted">
      Läs
      <a href={company.url} class="text-sm text-blue-500 underline">
        hållbarhetsrapport
      </a>
    </p>
  </CardHeader>
  <CardContent class="grid gap-6">
    <CompanyFacts {company} {year} />

    <DataCard
      title={'Totala utsläpp ' + year}
      data={totalEmissions.toLocaleString('sv-SE')}
    />
    <ScopeEmissions
      title="Scope 1 and 2 utsläpp"
      emissions={scopeEmissionsList}
    />
    <DataCard
      title="Biogena utsläpp"
      data={totalBiogenicEmissions.toLocaleString('sv-SE')}
    />
    <Scope3Emissions emissions={emissions.scope3.categories} />
  </CardContent>
</Card>
