---
import LucideChevronLeft from 'icons:astro/lucide/chevron-left'
import {
  getLatestReportingPeriodWithEmissions,
  getLatestReportingPeriodWithEconomy,
} from '@/data/companyData'
import { buttonVariants } from '../ui/button'
import CompanyFacts from './CompanyFacts.astro'
import CompanyEmissions from './CompanyEmissions.astro'
import CompanyGoals from './CompanyGoals.astro'
import CompanyInitiatives from './CompanyInitiatives.astro'
import OtherCompanies from './OtherCompanies.svelte'
import LucideBadgeCheck from 'icons:astro/lucide/badge-check'
import type { CompanyDetails } from '@/lib/api/types'

interface Props {
  company: CompanyDetails
}

const { company } = Astro.props

const reportingPeriodEmissions = getLatestReportingPeriodWithEmissions(company)
const reportingPeriodEconomy = getLatestReportingPeriodWithEconomy(company)
---

<div class="bg-blue-150 py-1.5 text-xs text-black sm:text-sm">
  <div class="mx-auto max-w-screen-lg px-4 xs:px-8 md:px-12 lg:px-16">
    Detta är en betaversion med både manuellt verifierad
    <LucideBadgeCheck class="inline text-green-750" />
    data och AI-extraherad data. Ser du något fel?
    <a href="mailto:data@klimatkollen.se" class="font-semibold underline"
      >Mejla oss gärna</a
    >!
  </div>
</div>

<article class="mx-auto max-w-screen-lg xs:px-4">
  {
    !reportingPeriodEmissions && !reportingPeriodEconomy ? (
      <div class="mx-auto flex max-w-screen-md flex-col items-start p-4">
        <h1 class="text-4xl font-bold leading-none tracking-tight">
          {company.name}
        </h1>
        <p class="py-4">Rapporteringsperioden saknas.</p>

        <div class="grid w-full place-items-center">
          <OtherCompanies client:load />

          <a
            class={buttonVariants({
              variant: 'default',
              class: 'mt-8 gap-1 pl-2',
            })}
            href="https://klimatkollen.se/foretag/utslappen/lista"
          >
            <LucideChevronLeft class="h-5 w-5" />
            Tillbaka till alla företag
          </a>
        </div>
      </div>
    ) : (
      <>
        <div class="mt-8 grid gap-8">
          <CompanyFacts {company} />

          <CompanyEmissions {company} />

          <CompanyGoals goals={company.goals} />

          <CompanyInitiatives initiatives={company.initiatives} />

          <div class="grid place-content-center py-16">
            <OtherCompanies client:idle />
          </div>
        </div>
      </>
    )
  }
</article>
