---
import {
  type CompanyData,
  getCompanyName,
  latestYearWithData,
} from '@/data/companyData'
import { buttonVariants } from '../ui/button'
import CompanyFacts from './CompanyFacts.astro'
import CompanyEmissions from './CompanyEmissions.astro'
import CompanyGoals from './CompanyGoals.astro'
import CompanyInitiatives from './CompanyInitiatives.astro'
import OtherCompanies from './OtherCompanies.svelte'

interface Props {
  company: CompanyData
  companies: CompanyData[]
}

const { company, companies } = Astro.props

const year = latestYearWithData
const emissions = company.emissions[year]
---

<div class="bg-blue-150 px-4 py-1.5 text-center text-xs text-black">
  <span class="text-nowrap">Betaversion med delvis AI-genererat innehåll.</span>
  <span class="text-nowrap"
    >Ser du något fel,
    <a href="mailto:data@klimatkollen.se" class="font-semibold underline"
      >mejla gärna</a
    >!</span
  >
</div>

<article class="mx-auto max-w-screen-lg xs:px-4">
  {
    emissions ? (
      <>
        <div class="mt-8 grid gap-8">
          <CompanyFacts {company} {year} />

          <CompanyEmissions {company} {year} />

          <CompanyGoals goals={company.goals} />

          <CompanyInitiatives initiatives={company.initiatives} />

          <div class="grid place-content-center py-16">
            <OtherCompanies client:idle {companies} />
          </div>
        </div>
      </>
    ) : (
      <div class="mx-auto flex max-w-screen-md flex-col items-start p-4">
        <h1 class="text-4xl font-bold leading-none tracking-tight">
          {getCompanyName(company)}
        </h1>
        <p class="py-4">Data saknas för år {year}.</p>

        <OtherCompanies client:load {companies} />

        <a
          class={buttonVariants({ variant: 'default', class: 'mt-8' })}
          href="https://klimatkollen.se/foretag/utslappen/lista"
        >
          Tillbaka till alla företag
        </a>
      </div>
    )
  }
</article>
