---
import type { CompanyData } from '@/data/companyData'
import { Card } from '../ui/card'
import DataCard from '../DataCard.astro'

interface Props {
  company: CompanyData
  year: number
}

const { company, year } = Astro.props

function getMonthName(month: number) {
  const date = new Date()
  date.setMonth(month === 0 ? 12 : month - 1)

  return date.toLocaleString('sv-SE', { month: 'long' })
}
---

<Card class="flex flex-col gap-4" level={1}>
  {
    company.industryNace.division.name && (
      <DataCard title="Industri" data={company.industryNace.division.name} />
    )
  }
  {
    company.baseFacts[year]?.turnover && (
      <DataCard
        title={'Oms채ttning ' + year}
        data={
          company.baseFacts[year].turnover.toLocaleString('sv-se') +
          ' ' +
          company.baseFacts.unit
        }
      />
    )
  }
  {
    company.baseFacts[year]?.employees && (
      <DataCard
        title="Anst채llda 2023"
        data={company.baseFacts[year].employees.toLocaleString('sv-SE')}
      />
    )
  }

  {
    company.fiscalYear && (
      <DataCard
        title="R채kenskaps책r"
        data={`${getMonthName(company.fiscalYear.startMonth)} - ${getMonthName(company.fiscalYear.endMonth)}`}
      />
    )
  }

  {
    company.contacts.length ? (
      <div class="col-span-2">
        <h3 class="text-lg font-semibold">Kontakt</h3>
        <ul class="list-disc pl-5">
          {company.contacts.map(({ name, email }) => (
            <li class="text-sm text-muted">
              {name} - {email}
            </li>
          ))}
        </ul>
      </div>
    ) : null
  }
</Card>
