---
import Fa6SolidGifts from 'icons:astro/fa6-solid/gifts'
import MingcuteWashMachineLine from 'icons:astro/mingcute/wash-machine-line'
import IconParkOutlineSolarEnergyOne from 'icons:astro/icon-park-outline/solar-energy-one'
import IconParkOutlineTransport from 'icons:astro/icon-park-outline/transport'
import MakiWasteBasket from 'icons:astro/maki/waste-basket'
import ZondiconsTravelTrain from 'icons:astro/zondicons/travel-train'
import MaterialSymbolsCommuteOutline from 'icons:astro/material-symbols/commute-outline'
import IconParkOutlineWashingMachineOne from 'icons:astro/icon-park-outline/washing-machine-one'
import IconParkOutlineTransporter from 'icons:astro/icon-park-outline/transporter'
import IconParkOutlineGateMachine from 'icons:astro/icon-park-outline/gate-machine'
import MaterialSymbolsPersonPlayOutlineRounded from 'icons:astro/material-symbols/person-play-outline-rounded'
import IonTrashBin from 'icons:astro/ion/trash-bin'
import ClarityBuildingSolid from 'icons:astro/clarity/building-solid'
import BiHouses from 'icons:astro/bi/houses'
import StreamlineInvestmentSelection from 'icons:astro/streamline/investment-selection'

import {
  type CompanyData,
  type Emissions,
  type Scope3,
} from '@/data/companyData'
import Scope3EmissionsCategory from '../company/Scope3EmissionsCategory.astro'
import { Card } from '../ui/card'

interface Props {
  company: CompanyData
  emissions: Emissions
}

const { company, emissions } = Astro.props

type CategoryDefinition = {
  title: string
  description: string
  Icon: astroHTML.JSX.Element
}

type ReportedCategoryDefinition = CategoryDefinition & {
  value: number | null
  category: string
  verified: boolean
}

export const categoryDefinitions = {
  c1_purchasedGoods: {
    title: '1. Inköpta varor och tjänster',
    description:
      'Utsläpp från produktion av varor och tjänster som köps av organisationen.',
    Icon: Fa6SolidGifts,
  },
  c2_capitalGoods: {
    title: '2. Kapitalvaror',
    description:
      'Utsläpp från produktion av kapitalvaror som köps av organisationen.',
    Icon: MingcuteWashMachineLine,
  },
  c3_fuelAndEnergyRelatedActivities: {
    title: '3. Bränsle- och energirelaterade aktiviteter',
    description:
      'Utsläpp från produktion av bränslen och energi som köps av organisationen, inklusive transport och distribution, som inte inkluderas i scope 2.',
    Icon: IconParkOutlineSolarEnergyOne,
  },
  c4_upstreamTransportationAndDistribution: {
    title: '4. Uppströms transport och distribution',
    description:
      'Utsläpp från transport och distribution av inköpta varor mellan leverantörer och/eller inom organisationen.',
    Icon: IconParkOutlineTransport,
  },
  c5_wasteGeneratedInOperations: {
    title: '5. Avfall genererat i verksamheten',
    description:
      'Utsläpp från behandling av avfall som genereras av organisationen.',
    Icon: MakiWasteBasket,
  },
  c6_businessTravel: {
    title: '6. Tjänsteresor',
    description:
      'Utsläpp från resor i tjänsten med fordon som inte ägs av organisationen.',
    Icon: ZondiconsTravelTrain,
  },
  c7_employeeCommuting: {
    title: '7. Pendlingsresor',
    description:
      'Utsläpp från anställdas resor mellan hemmet och arbetsplatsen.',
    Icon: MaterialSymbolsCommuteOutline,
  },
  c8_upstreamLeasedAssets: {
    title: '8. Uppströms leasade tillgångar',
    description:
      'Utsläpp från verksamhet i leasade tillgångar som inte inkluderas i scope 1 och 2.',
    Icon: IconParkOutlineWashingMachineOne,
  },
  c9_downstreamTransportationAndDistribution: {
    title: '9. Nedströms transport och distribution',
    description:
      'Utsläpp från transport och distribution av sålda varor mellan organisationen och kund.',
    Icon: IconParkOutlineTransporter,
  },
  c10_processingOfSoldProducts: {
    title: '10. Bearbetning av sålda produkter',
    description: 'Utsläpp från vidareförädling av sålda insatsvaror.',
    Icon: IconParkOutlineGateMachine,
  },
  c11_useOfSoldProducts: {
    title: '11. Användning av sålda produkter',
    description: 'Utsläpp från användning av sålda produkter av kunden.',
    Icon: MaterialSymbolsPersonPlayOutlineRounded,
  },
  c12_endOfLifeTreatmentOfSoldProducts: {
    title: '12. Slutbehandling av sålda produkter',
    description:
      'Utsläpp från avfallshantering av sålda produkter vid slutet av livscykeln.',
    Icon: IonTrashBin,
  },
  c13_downstreamLeasedAssets: {
    title: '13. Nedströms leasade tillgångar',
    description:
      'Utsläpp från verksamhet i nedströms leasade tillgångar som inte inkluderas i scope 1 och 2.',
    Icon: ClarityBuildingSolid,
  },
  c14_franchises: {
    title: '14. Franchiser',
    description:
      'Utsläpp från franchisetagares verksamhet som inte inkluderas i scope 1 och 2.',
    Icon: BiHouses,
  },
  c15_investments: {
    title: '15. Investeringar',
    description:
      'Utsläpp från organisationens investeringar i andra företag, samt andra finansierade utsläpp.',
    Icon: StreamlineInvestmentSelection,
  },
}

function getReportedCategories(scope3: Scope3): ReportedCategoryDefinition[] {
  return Object.entries(categoryDefinitions).map(([category, definition]) => {
    const value = scope3[category as keyof typeof categoryDefinitions] ?? null

    return {
      ...definition,
      category,
      value,
      // TODO: replace all verified: false and use metadata for each separate scope 3 category to determine if it is verified or not
      verified: false,
    }
  })
}

const reportedCategories = emissions.scope3
  ? getReportedCategories(emissions.scope3)
  : []
const reportedCount = reportedCategories.filter((c) => c.value !== null).length

const upstream = reportedCategories.slice(0, 8)
const downstream = reportedCategories.slice(8)
---

<Card class="grid gap-8" level={2}>
  <div>
    <h3
      class="text-balance pb-2 text-xl tracking-tight sm:leading-none lg:text-2xl"
    >
      {company.name} rapporterar
      <span class="text-nowrap">
        <span class="text-orange-250">{reportedCount}</span> / 15
      </span>
      kategorier:
    </h3>

    <p class="text-sm text-muted">
      Företag bör rapportera i alla kategorier som är relevanta för
      verksamheten.
    </p>
  </div>

  {
    upstream.length ? (
      <div class="grid gap-2 text-sm">
        <h4 class="flex items-center justify-between pb-2 text-lg leading-none tracking-tight">
          Uppströms
          <span class="pr-4 text-base text-muted xs:text-lg">(ton CO₂e)</span>
        </h4>
        {upstream.map(({ Icon, title, description, value, verified }) => (
          <Scope3EmissionsCategory
            {Icon}
            {title}
            {description}
            {verified}
            value={value?.toLocaleString('sv-SE', {
              maximumFractionDigits: 0,
            })}
          />
        ))}
      </div>
    ) : null
  }

  {
    downstream.length ? (
      <div class="grid gap-2 text-sm">
        <h4 class="flex items-center justify-between pb-2 text-lg leading-none tracking-tight">
          Nedströms
          <span class="pr-4 text-base text-muted xs:text-lg">(ton CO₂e)</span>
        </h4>
        {downstream.map(({ Icon, title, description, value, verified }) => (
          <Scope3EmissionsCategory
            {Icon}
            {title}
            {description}
            {verified}
            value={value?.toLocaleString('sv-SE', {
              maximumFractionDigits: 0,
            })}
          />
        ))}
        {/* TODO: Should we show the `other` category at the bottom? This would make it clear why the total for scope 3 might be larger than the GHG categories combined, and ideally the difference would be visible as part of `other` */}
      </div>
    ) : null
  }
</Card>
