---
import { Card, CardHeader, CardContent, CardFooter, CardTitle } from './ui/card'
import { type CompanyData } from '@/data/companyData'
import DataCard from './DataCard.astro'
import ScopeEmissions from './ScopeEmissions'
import Scope3Emissions from './Scope3Emissions'
import InitiativeList from './InitiativeList'

interface Props {
  company: CompanyData
}

const { company } = Astro.props

const year = '2023'
const emissions = company.emissions[year]

console.log(emissions, Boolean(emissions))

const totalEmissions = emissions
  ? (emissions.scope1.emissions || 0) +
    (emissions.scope2.emissions ||
      emissions.scope2.mb ||
      emissions.scope2.lb ||
      0) +
    (emissions.scope3.emissions || 0)
  : 0

const scopeEmissionsList = emissions
  ? [
      {
        subtitle: 'Scope 1 utsläpp',
        description:
          'Utsläpp från egna källor eller kontrollerade av organisationen.',
        value: emissions.scope1.emissions,
      },
      {
        subtitle: 'Scope 2 utsläpp',
        description:
          'Indirekta utsläpp från produktion av köpt el, ånga, värme och kyla som konsumeras av organisationen.',
        value: emissions.scope2.emissions,
      },
    ]
  : []
---

<article class="p-4">
  <h1 class="text-4xl font-bold">{company.companyName}</h1>

  <div class="flex flex-col">
    <aside class="fixed inset-y-0 left-0 z-10 hidden w-14 flex-col sm:flex">
    </aside>
    <div class="flex flex-col sm:gap-4 sm:py-4 sm:pl-14">
      <main
        class="grid flex-1 items-start gap-4 p-4 sm:px-6 sm:py-0 md:gap-8 lg:grid-cols-4 xl:grid-cols-4"
      >
        <div
          class="grid auto-rows-max items-start gap-4 md:gap-8 lg:col-span-4"
        >
          <Card class="dark:bg-background sm:col-span-2">
            <CardHeader class="pb-3">
              <div class="flex items-center gap-4">
                <div>
                  <CardTitle>{company.companyName}</CardTitle>
                  <div class="text-sm text-gray-400 dark:text-gray-500">
                    {company.description}
                  </div>
                </div>
              </div>
            </CardHeader>
            <CardContent>
              <div class="grid gap-6">
                <DataCard
                  title={'Totala utsläpp ' + year}
                  data={totalEmissions.toLocaleString('sv-se')}
                />
                <!-- <ScopeEmissions
                  title="Scope 1 and 2 utsläpp"
                  emissions={scopeEmissionsList}
                />
                <Scope3Emissions emissions={emissions.scope3.categories} /> -->
              </div>
            </CardContent>
            <CardFooter>
              <div class="grid grid-cols-2 gap-4">
                <div>
                  <div class="font-semibold">Ranking</div>
                  <div class="text-2xl font-bold">3rd</div>
                </div>
                <div class="col-span-2">
                  <div class="font-semibold">Våra initiativ och löften</div>
                  <InitiativeList initiatives={company.initiatives} />
                </div>
              </div>
            </CardFooter>
          </Card>
        </div>
      </main>
    </div>
  </div>
</article>
