---
import type { EmissionsScope } from '@/data/companyData'
import TruckIcon from '~icons/local/truck'
import PlaneIcon from '~icons/local/plane'
import CompassIcon from '~icons/local/compass'
import WarehouseIcon from '~icons/local/warehouse'
import WormIcon from '~icons/local/worm'
import Scope3EmissionsCategory from './Scope3EmissionsCategory.astro'

interface Props {
  emissions: EmissionsScope['categories']
}

const { emissions } = Astro.props
---

{
  emissions ? (
    <div class="grid gap-4">
      <div class="font-semibold">Scope 3 Utsläppskategorier</div>
      <div class="grid gap-4">
        <Scope3EmissionsCategory
          Icon={TruckIcon}
          title="Köpta varor och tjänster"
          description="Utsläpp från produktion av varor och tjänster som köpts av organisationen."
          value={emissions['1_purchasedGoods']?.toLocaleString('sv-se')}
        />
        <Scope3EmissionsCategory
          Icon={PlaneIcon}
          title="Affärsresor"
          description="Utsläpp från transport av anställda för affärsrelaterade aktiviteter."
          value={emissions['6_businessTravel']?.toLocaleString('sv-se')}
        />
        <Scope3EmissionsCategory
          Icon={CompassIcon}
          title="Anställdas pendling"
          description="Utsläpp från transport av anställda mellan deras hem och arbetsplatser."
          value={emissions['7_employeeCommuting']?.toLocaleString('sv-se')}
        />
        <Scope3EmissionsCategory
          Icon={WarehouseIcon}
          title="Uppströms transporter och distribution"
          description="Utsläpp från transport och distribution av produkter som köpts av organisationen, dvs från sina leverantörer."
          value={emissions[
            '4_upstreamTransportationAndDistribution'
          ]?.toLocaleString('sv-se')}
        />
        <Scope3EmissionsCategory
          Icon={WormIcon}
          title="Avfall genererat i verksamheten"
          description="Utsläpp från avfall som genereras av organisationens verksamhet."
          value={emissions['5_wasteGeneratedInOperations']?.toLocaleString(
            'sv-se',
          )}
        />
      </div>
    </div>
  ) : null
}
